<div class="dropdown">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Profile</button>
    <button
      id="dropdownMenuButton"
      data-target="#dropdownMenuButton"
      aria-controls="dropdownMenuButton"
      data-bs-toggle="dropdown"
      class="btn btn-primary dropdown-toggle dropdown-toggle-split"
      type="button"
      data-toggle="collapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
      <li class="dropdown-item" [routerLink]="'./login'">Login</li>
      <li class="dropdown-item" [routerLink]="'./singup'">Signup</li>
    </ul>
  </div>
</div>
